@import "../../../../styles.scss";

.template-body-text {
  font-size: 45px;
  line-height: 56.25px;
  @media (max-width: 600px) {
    font-size: 30px;
    width: 80%;
  }

  @media (min-width: 1024px) {
    width: 923px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 90%;
  }
}

.template-body-subtext {
  line-height: 40px;
  @media (min-width: 1024px) {
    width: 746px;
  }
}

.template-call-button {
  @media (max-width: 600px) {
    font-size: 20px;
    width: 75%;
  }
  @media (max-width: 1024px) {
    margin-bottom: 50px;
  }
}

.template-features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.template-features-text {
  line-height: 35px;
  @media (min-width: 1024px) {
    width: 320px;
  }
}

.template-features-text,
.template-body-subtext {
  font-family: 'Raleway';
}

.template-body-subtext,
.template-features-text {
  font-size: 25px;
  @media (max-width: 1280px) {
    font-size: 25px;
    width: 80%;
    margin-top: 20px;
  }
}

.template-features-text,
.template-body-subtext,
.template-body-text {
  font-weight: 400;
  text-align: center;
}

.bubble-5 {
  width: 250px;
  height: 250px;
  top: 300px;
  right: 70px;
  @media (min-width: 1280px) and (max-width: 1440px) {
    width: 200px;
    height: 200px;
    top: 500px;
    right: 50px;
  }
}

.bubble-6 {
  width: 200px;
  height: 200px;
  top: 600px;
  left: 220px;
  animation-duration: 4s;
  @media (min-width: 1280px) and (max-width: 1440px) {
    top: 700px;
    left: 100px;
  }
}

.mt-100 {
  margin-top: 0;
  @media (min-width: 1400px) {
    margin-top: 250px;
  }
}
