/* ==========================================================================
   BASE STYLES & RESET
   ========================================================================== */

@use "sass:map";

@use "../styles/variables" as vars;
@use "../styles/colors";

@media screen and (prefers-color-scheme: dark) {
  html,
  body {
    background-color: map.get(colors.$colors, "mid-black");
    color: map.get(colors.$colors, "mid-white");
  }
}

*,
html,
body,
.row,
.container,
[class^="col-"],
.container-fluid {
  letter-spacing: vars.$letter-spacing;
  font-size: vars.$base-font-size;
  font-family: vars.$antonio;
  padding: vars.$no-padding;
  margin: vars.$no-margin;
}

.spacer {
  margin-top: vars.$spacer;
}
