.hero-title,
button {
  text-align: center;
  align-content: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  border-radius: 10px;
  height: 84px;
  padding: 6px 48px 6px 48px;
  box-shadow: 0 4px 4px 0;
  transition: all ease 1s;
  z-index: 1;

}

button.plans {
  color: $black;
  font-weight: bold;
  position: relative;
  z-index: 1;
  background: $botton-gradient;
  background-size: 400% 400%;
  animation: pulse 2s linear infinite, back-light 5s linear infinite;
  @media (max-width: 600px) {
    font-size: 25px;
    width: 80%;
  }
}


button.plans:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background-size: 400%;
  opacity: 0;
  transition: 1s;
}


@keyframes back-light {
	0% {
    background-position: 0%;
	}

	100% {
    background-position: 400%;
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 3px rgb(77, 205, 67);
	}

	70% {
		box-shadow: 0 0 0 20px rgba(30, 239, 2, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(4, 240, 4, 0);
	}
}

.zoom:hover {
  transform: scale(1.2, 1.2) rotate(10deg);
  background-position: right center;
}
