.hero-title,
button {
  text-align: center;
  align-content: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  border-radius: 10px;
  height: 84px;
  padding: 6px 48px 6px 48px;
  box-shadow: 0 4px 4px 0;
  transition: all ease 1s;
  z-index: 1;
}

button.plans {
  color: $black;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

button.plans-dark {
  animation: pulse-dark 2s linear infinite;
  background: linear-gradient(90deg, #03f40f, #d6f441, #24ffcf, #23f403);
}

button.plans-light {
  background: linear-gradient(90deg, #03a9f4, #41f4a6, #fce300, #03a9f4);
  //background: linear-gradient(90deg, #95e984, #c5d4ed, #eee0e0, #b1eac5);
  //background: $gradient-green;
  animation: pulse-light 2s linear infinite;

}

button.plans-light,
button.plans-dark {
  background-size: 400% 400%;
}

button.plans-light:before,
button.plans-dark:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background-size: 400%;
  opacity: 0;
  transition: 1s;
}

@keyframes pulse-dark {
	0% {
		box-shadow: 0 0 0 3px rgba(113, 252, 0, 0.3);
    background-position: 0%;
	}

	70% {
		box-shadow: 0 0 0 20px rgba(34, 255, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
    background-position: 400%;
	}
}

@keyframes pulse-light {
	0% {
		box-shadow: 0 0 0 3px rgb(21, 225, 10);
    background-position: 0%;
	}

	70% {
		box-shadow: 0 0 0 20px rgba(30, 239, 2, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(4, 240, 4, 0);
    background-position: 400%;
	}
}

.zoom:hover {
  transform: scale(1.2, 1.2) rotate(10deg);
  background-position: right center;
}
