//primary colors
$white: #fff;
$black: #000;
$gray: #d9d9d9;
$green: #74dd63;
$mid-green: #1bc300;
$dark-green: #006400;
$dark-gray: #b0b0b0;
$red-gray: #897373;

//gradient body colors
$gradient-green: linear-gradient(248deg, $green 0%, $white 100%);
$gradient-gray: linear-gradient(248deg, $white 0%, $dark-gray 100%);
$dark-theme: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
$light-theme: radial-gradient(ellipse at bottom, #77ffa7 0%, #ffffff 100%);
$botton-gradient: linear-gradient(90deg, #37ea3b, #26f207, #8af66f, #37ea2b);

//optional gradients
$gradient-lightful-green: linear-gradient(
  90deg,
  #03f40f,
  #d6f441,
  #24ffcf,
  #23f403
);
$gradient-colorful: linear-gradient(90deg, #03a9f4, #41f4a6, #fce300, #03a9f4);
