//primary colors
$white: #fff;
$black: #000;
$gray: #D9D9D9;
$green: #74DD63;
$mid-green: #1bc300;
$dark-green: #006400;
$dark-gray: #B0B0B0;
$gradient-green: linear-gradient(248deg, $green 0%, $white 100%);
$gradient-gray: linear-gradient(248deg, $white 0%, $dark-gray 100%);

//gradient body colors
$light-gradient-1: #e4f7ba;
$light-gradient-2: #fefefd;
$light-gradient-3: #caee92;
$light-gradient-4: #baeba1;
$light-gradient-5: #dffbd1;

$dark-gradient-1: #000010;
$dark-gradient-2: #111111;
$dark-gradient-3: #060006;

$darkTheme: linear-gradient(
  120deg,
  $black,
  $dark-gradient-1,
  $dark-gradient-2,
  $dark-gradient-3
);

$lightTheme: linear-gradient(
  120deg,
  $white,
  $light-gradient-1,
  $light-gradient-2,
  $light-gradient-3,
  $light-gradient-4,
  $light-gradient-5
);
