<section class="container-full background-loader position-relative">

  <div class="row">
    <div
      class="col-md-12 d-flex align-items-center justify-content-center vh-100"
    >
    <div
    class="loader d-flex align-items-center justify-content-center flex-column loader"
  >
    <img
      src="./assets/loader/light-hammer-loader.svg"
      alt="hammer"
      width="150"
      class="hammer"
    />
    <img
      src="./assets/loader/light-sparkles-loader.svg"
      alt="sparkles"
      width="40"
      class="sparkles"
    />
    <img
      src="./assets/loader/light-anvil-loader.svg"
      alt="anvil"
      width="200"
      class="anvil"
    />
  </div>
    </div>
  </div>
</section>
