<div class="row">
  <div class="col-md-12">
    <h1 class="body-section-title" [ngClass]="darkMode() ? 'text-white' : ''">
      Programar es difícil, pero no te preocupes por eso, nosotros lo haremos
      por ti.
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12 d-flex align-items-center justify-content-evenly flex-wrap">
    <div class="d-flex align-items-center justify-content-center">
      <img
        src="./assets/images/section-3/laptop-section-3.svg"
        alt="laptop"
        class="laptop"
      />
    </div>
    <div
      class="d-flex align-items-center justify-content-center flex-column plop"
      [ngClass]="darkMode() ? 'text-white' : ''"
    >
      <h3 class="body-section-text my-5">Sincronización eficaz</h3>
      <p class="body-section-subtext my-5 d-none d-md-block">
        De ser necesario realizaremos reuniones oportunas y precisas para
        definir detalles.
      </p>
      <h3 class="body-section-text my-5 my-md-0">Administración con Trello</h3>
      <p class="body-section-subtext my-5 d-none d-md-block">
        Administre su cuadro de requerimientos con un trello compartido.
      </p>
      <h3 class="body-section-text my-5 my-md-0">Nos colocamos en tus zapatos</h3>
      <p class="body-section-subtext my-5 d-none d-md-block">
        Siempre adaptados a los requerimientos de cada cliente.
      </p>
    </div>
  </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
