<div class="row spacer">
  <div
    class="col-md-12 d-flex align-items-center align-items-xl-start justify-content-center justify-content-lg-start"
  >
    <h1
      class="services-section-title mb-5 mb-lg-0 ms-0 ms-lg-5"
      [ngClass]="darkMode() ? 'text-white' : ''"
    >
      <span class="d-block d-xl-none"> Nuestros servicios incluyen</span>
      <p
        class="d-none d-xl-block d-xl-flex align-items-xl-center justify-content-xl-center flex-xl-column"
      >
        Nuestros servicios
        <span> incluyen </span>
      </p>
    </h1>
  </div>
</div>

<div class="row">
  <div class="d-none d-xl-block col-xl-6">
    <img
      src="./assets/images/section-5/rule-section-5.svg"
      alt="rule-image"
      class="img-fluid d-flex align-items-center justify-content-center"
      width=""
    />
  </div>
  <div
    class="col-12 col-xl-6 d-flex align-items-center justify-content-center flex-column"
  >
    @for (badge of badges; track $index) {
    <div class="hero-title services-section-badges mb-5 zoom">
      {{ badge.text }}
    </div>
    }
    <h4
      class="d-none d-xl-block services-section-text"
      [ngClass]="darkMode() ? 'text-white' : ''"
    >
      Somos artesanos de la creación web, tu idea será plasmada en una
      representación digital.
    </h4>
  </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
