@import '../../../../styles.scss';
.services-section-title {
  font-size: 70px;
  line-height: 87.5px;
  width: 725px;
  text-shadow: 5px 5px 5px $green;
  @media(max-width: 600px) {
    font-size: 45px;
    text-align: center;
  }
}

.services-section-text {
  font-size: 25px;
  font-family: 'Raleway';
  line-height: 35px;
  text-align: justify;
  margin: 0 auto;
  width: 400px;
  @media(max-width: 600px) {
    width: 80%;
  }
}

.services-section-badges {
  font-size: 30px;
  line-height: 48px;
  border-radius: 40px;
  text-align: center;
  width: 454px;
  border: solid 1px $black;
  background-color: $white;
  box-shadow: 0 4px 0 $black;
  @media(max-width: 600px) {
    font-size: 20px;
    line-height: 30px;
    width: 80%;
  }
}

.services-section-title,
.services-section-text,
.services-section-badges {
  font-weight: 400;
}
